div {
    display: flex;
    flex-direction: column;
    align-items: center;;
}

section {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto; 
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 5px;
}

.places-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    padding: 0px;

}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;

}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    list-style: none;
    }